fieldset{
    text-align: center;
    border-color: sienna;
    margin-left: 25%;
    margin-right: 25%;
    padding-bottom: 50px;
}

legend{
    border: 2px solid red;
    color:white;
    background-color: orange;
}

.container1{
    float: left;
    width:45%;
    text-align: right;
}

.container2{
    width:54%%;
    float: left;
    text-align: left;
    margin-left: 20px;
    
}

.container2 input,textarea,select{
    background-color: lemonchiffon;
    border:1px solid sienna;
    
   
}

.container2 button1{
    background-color: lemonchiffon;    
    border:1px solid sienna;
    border-radius: 5px;
    padding: 5px;
}

.container2 select,button1{
    color:sienna;
}

input[type="file"]{
	background-color: white;
	border:none;
	margin-bottom:10px;
}

